.Main_MainDiv {
  margin: 0 auto;
  height: auto;
  width: 100%;
  background-color: #f1f3f6;
  background-image: url(../sourse/img/Illustration.png);
  background-repeat: no-repeat;
  background-position: 460px 87px;
}

.InnerDiv {
  padding-top: 187px;
  width: 100vh;
  height: 100vh;
  margin: 0 70px;
}

.LinkImg {
  height: 17px;
  width: 17px;
  margin-right: 10px;
}

.AddAccountLinkImg {
  height: 22px;
  width: 22px;
  margin-right: 8px;
}

.startParsingLink {
  width: 496px;
  height: 55px;
  background-color: #221b1c;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.LinksDiv {
  width: 496px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Links1 {
  width: 236px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #362f30;
  border-radius: 30px;
  border: 1.2px solid #475569;
}
.Links2 {
  width: 236px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  color: #362f30;
  border-radius: 30px;
  border: 1.2px solid #475569;
}
.DivForAddAccountMainButton {
  margin-top: 50px;
}
.DivForAddAccountMainButton2 {
  margin-top: 20px;
}

.AddAccountMainButton {
  width: 496px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  background-color: #fff;
  border-radius: 30px;
  border: 1.2px solid #475569;
}

.AddAccountMainButton:hover {
  transition: ease 0.3 all;
  background-color: #bacffa;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}
